body {
    height: 100%;
    /* background-color: #f3efe0; */
    background-color: rgb(85, 48, 97);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #333;
  }
  
  .nav li a {
    display: block;
    color: #000;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  .nav li a:hover {
    background-color: #555;
    color: white;
  }
  .nav ul {
    display: -ms-flexbox;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    background-color: rgba(51, 51, 51, 0.38);
  }
  
  /*.nav .navbar-nav .nav-item.active .nav-link{
   background-color:black;
  }*/
  
  .navbar-nav .nav-item .nav-link {
   color:white;
  }
  
  .nav a{
    padding-top: 150px;
  }
  
  #main {
       margin-top: 4.5rem;
       margin-bottom: 40px;
  }
  #main .navbar{
    background-color:rgba(140, 154, 154, 0.7411764705882353);
  }
  
  #main .navbar .navbar-collapse{
    background-color:rgba(140, 154, 154, 0.7411764705882353);
  }
  
  #profile{
    /* background-color:#f3efe0; */
    background-color: rgba(182, 137, 224, 0.226);
    color: #fff;
  }
  
  #experience{
    background-color:rgba(232, 232, 232, 0.6);
  }
  
  #education{
    background-color:rgba(232, 232, 232, 0.6);
  }

  #abilities{
    background-color: rgba(232, 232, 232, 0.6);
  }
  
  #contact{
    background-color:rgba(232, 232, 232, 0.644);
  }
  
  .skill-icon{
    font-size: 5em;
  }
  
  .fa-html5{
    color: rgb(246, 74, 26);
  }
  
  .fa-bootstrap{
    color: rgb(138, 46, 168);
  }
  
  .fa-css3{
    color:rgb(0, 140, 255);
  }
  
  .fa-php{
    color:rgb(67, 146, 183);
  }
  
  .fa-java{
    color:rgb(18, 29, 77);
  }
  
  .fa-js{
    color:rgb(248, 202, 0);
  }
  
  .fa-wordpress{
    color:rgb(67, 146, 183);
  }
  
  .fa-python::before{
    content: "\f3e2"; /* Unicode for the Python icon in FontAwesome */
    font-family: "Font Awesome 5 Brands";
    position: absolute;
    top: 0;
    /* left: 0;  */
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #306998, #FFD43B); /* Adjust the gradient colors */
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    transition: background 0.3s;
  }
  
  .fa-react{
    color:rgb(0, 140, 255);
  }
  
  .fa-node-js{
    color:green;
  }
  
  .fa-git-alt{
    color: rgb(246, 74, 26);
  }
  
  .icon-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #427e9cc1;
    color: #fff;
    text-align: center;
    border-radius: 9px;
    padding: 3px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .icon-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

 .more-content{
    display: none;
  }

 .btnMore {
    background:none;
    border: none;
    color: rgb(119, 15, 174);
    font-weight: bold;
  }

  /* footer {
    background-color: rgba(211, 189, 130, 0.959);
  
  } */
  #footer-text{
    font-weight: bold;
    color: aliceblue;
  }